[submodule "auth/loginza"]
	path = auth/loginza
	url = git@github.com:dketov/moodle-auth_loginza.git
[submodule "blocks/loginplus"]
	path = blocks/loginplus
	url = git@github.com:dketov/moodle-block_loginplus.git
[submodule "theme/spbspu"]
	path = theme/spbspu
	url = git@github.com:spbstu/moodle-theme-spbspu.git
[submodule "user/profile/field/jabber"]
	path = user/profile/field/jabber
	url = git@github.com:dketov/moodle-profile-field-jabber.git
[submodule "blocks/dndupload"]
	path = blocks/dndupload
	url = git@github.com:dketov/moodle-block_dndupload.git
[submodule "blocks/course_contacts"]
	path = blocks/course_contacts
	url = git@github.com:dketov/moodle-block_course_contacts.git
[submodule "blocks/category_combo"]
	path = blocks/category_combo
	url = git@github.com:dketov/moodle-block_category_combo.git
[submodule "enrol/courseinfo"]
	path = enrol/courseinfo
	url = git@github.com:dketov/moodle-enrol_courseinfo.git
